*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  font-family: "Fira Sans", sans-serif;
}

/* reusable style */

.spacing {
  margin: 0 160px;
}

.btn {
  padding: 15px 30px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 106, 80, 1);
  border-radius: 8px;
  color: rgba(0, 106, 80, 1);
  font-weight: 600;
  font-size: 18px;
}

.h3 {
  font-size: 40px;
  font-weight: 700;
}

.h4 {
  font-size: 32px;
  font-weight: 700;
}
/* sequential styles */

.ul-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul-container li {
  list-style: none;
  margin: 32px 0;
  font-weight: 700;
  font-size: 32px;
  color: rgba(14, 14, 14, 1);
}

.hero-section {
  border-radius: 24px;
  background: rgba(198, 228, 214, 1);
  display: flex;
  align-items: center;
  padding: 80px 60px;
  gap: 60px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-section .hero-left h3 {
  color: rgba(14, 14, 14, 0.5);
}

.hero-left button {
  width: max-content;
  padding: 17px 34px;
  font-weight: 600;
  font-size: 18px;
  color: white;
  border-radius: 8px;
  background: rgba(0, 106, 80, 1);
  border: none;
  margin-top: 24px;
}

.pillers {
  margin: 80px 0;
}

.piller-header {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}

.piller-cards {
  display: flex;
  gap: 24px;
}
.piller-card {
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  padding: 24px;
}

.piller-card p {
  margin-top: 12px;
}

.vision-header {
  margin-bottom: 12px;
}

.vision-header-subtitle {
  margin-bottom: 32px;
}

.vision-bgc-left {
  background: rgba(84, 144, 245, 0.2);
}

.vision-bgc-middle {
  background: rgba(198, 228, 214, 1);
}

.vision-bgc-right {
  background: rgba(247, 235, 207, 1);
}

.vision-btn-left {
  background: rgba(84, 144, 245, 1);
  color: white;
  border: none;
  margin-top: 24px;
}

.vision-btn-middle {
  background-color: rgba(9, 161, 92, 1);
}

.vision-btn-right {
  background-color: rgba(255, 194, 57, 1);
}

.speech {
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 48px 24px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
}

.inner-speech p {
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 12px;
}

.inner-speech h3 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}

.inner-speech h5 {
  color: rgba(14, 14, 14, 0.6);
}

.opinion {
  margin: 80px 0;
}

.opinion h3 {
  margin-bottom: 24px;
}

.question-container {
  padding: 32px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(14, 14, 14, 0.15);
}

.question-header {
  background: rgba(198, 228, 214, 1);
  font-size: 20px;
  font-weight: 600;
}

.question {
  padding: 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-top: none;
  font-weight: 600;
}

.news-header-para {
  margin-bottom: 32px;
}

.card {
  display: flex;
  border-radius: 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 48px;
  gap: 32px;
  margin-bottom: 24px;
}

.card-left img {
  border-radius: 24px;
}

.title-time {
  display: flex;
  gap: 12px;
  margin: 12px 0;
  color: rgba(14, 14, 14, 0.7);
}

.card-description {
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}

.news-btn {
  background: rgba(0, 106, 80, 1);
  color: white;
  border: none;
}

.donate-container {
  text-align: center;
  margin-bottom: 80px;
}

.donate-header-para {
  margin: 24px 88px 0 88px;
  color: rgba(14, 14, 14, 0.7);
}

.donate-cards {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.donate-card {
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  padding: 40px;
  margin: 32px 0;
}

.donate-card-color {
  background: rgba(198, 228, 214, 1);
}
.donate-input-ammount {
  display: flex;
  justify-content: center;
}

.donate-input-ammount input {
  padding: 20px 40px;
  color: rgba(14, 14, 14, 0.3);
  font-size: 20px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 15px;
  width: 800px;
  text-align: center;
  margin-bottom: 32px;
}

.donate-btn {
  background-color: rgba(0, 106, 80, 1);
  color: white;
  border: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 8px;
}
