*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  font-family: "Fira Sans", sans-serif;
}

/* reusable style */

.specing {
  margin: 0 160px;
}

.btn {
  padding: 15px 30px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 106, 80, 1);
  border-radius: 8px;
  color: rgba(0, 106, 80, 1);
  font-weight: 600;
  font-size: 18px;
}

/* sequential styles */

.ul-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul-container li {
  list-style: none;
  margin: 32px 0;
  font-weight: 700;
  font-size: 32px;
  color: rgba(14, 14, 14, 1);
}

.hero-section {
  border-radius: 24px;
  background: rgba(198, 228, 214, 1);
  display: flex;
  align-items: center;
  padding: 80px 60px;
  gap: 60px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-section .hero-left h3 {
  color: rgba(14, 14, 14, 0.5);
}

.hero-left button {
  width: max-content;
  padding: 17px 34px;
  font-weight: 600;
  font-size: 18px;
  color: white;
  border-radius: 8px;
  background: rgba(0, 106, 80, 1);
  border: none;
  margin-top: 24px;
}
